/* 清除默认样式 */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
ul,li {
    list-style: none;
}
body {
    font: 14px/1.5;
    color: #444;
    background: url(../assert/blue.jpg) center center no-repeat;
    min-height: 100vh;
    min-width: 100vh;
    background-size: cover;
    backdrop-filter: blur(1px);
    min-width: 350px
}

/* 引入svg的样式 */
.icon {
    width: 1em;
    height: 1em;
    vertical-align: -0.15em;
    fill: currentColor;
    overflow: hidden;
    cursor: pointer;
}

#page {
    max-width: 1400px;
    min-width: 350px;
    margin: 0 auto;
    /* border: 1px solid #ccc; */
    padding: 50px;
}


header {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* border: rgb(26, 201, 119) 1px solid; */
}
.search-type {
    display: flex;
    /* 百度和必应-水平对齐 */
}
.search-tab {
    padding: 7px 4px;
    margin-right: 15px;
    border-radius: 5px;
    font-size: 16px;
}
.search-tab.active {
    box-shadow: 0 0 15px 0 rgba(255, 251, 3, 0.7);
    font-size: 20px;
    padding: 5px 5px;
    /* 突出变化 */
}
.search-ipt {
    position: relative;
    background-color: rgba(255, 255, 255, 0.3);
    margin-top: 20px;
    font-size: 25px;
    display: flex;
}
.search-ipt .icon-search {
    position: absolute;
    z-index: 1;
    /* width: 20px;
    height: 20px; */
    right: 3px;
    /* top: 8px; */
    top: 50%;
    transform: translateY(-50%);
    margin-left: 10px;
    overflow: hidden;
}
.search-ipt>input {
    width: 400px;
    line-height: 35px;
    border-radius: 5px;
    box-shadow: 0 0 8px 0 rgba(71, 69, 69, 0.6);
    border: none;
    outline: none;
    font-size: 18px;
    padding: 0 30px 0 10px;
    background-color: transparent;
    border-radius: 6px;
}
/* .search-ipt > input:focus {
    width: 550px;
    transition: all .3s;
} */
.search-ipt>input::placeholder {
    color: #999;
}



body.preview .icon-setting {
    display: block;
}
body.preview .icon-back {
    display: none;
}
body.setting .icon-setting {
    display: none;
}
body.setting .icon-back {
    display: block;
}
/* 设置和预览两种状态切换 */
#setting {
    position: fixed;
    top: 20px;
    left: 30px;
}
#setting .icon {
    margin-left: 10px;
    width: 30px;
    height: 30px;
    color: #fff;
}

.plus {
    margin-top: 40px;
    align-items: center;
    justify-content: center;
}
.icon-plus {
    width: 60px;
    height: 60px;
}
body.setting .plus {
    display: flex;
}
body.preview .plus {
    display: none;
}



.model {
    position: fixed;
    /* 固定 */
    left: 50%;
    top: 50%;
    transform: translate(-50%, -100vh);
    /* 居中 ,因为后面设置-y会覆盖，所以挪到展示时的样式*/
    padding: 15px;
    width:200px;
    background-color: #fff;
    border-radius: 15px;
    box-shadow: 0 0 8px 0 rgba(3, 3, 3, 0.4);
    text-align: center;
    opacity: 0;
    /* 透明度 */
    /* transform: translateY(-200px); */
    transition: all 0.3s;
    /* display: none; */
}
.model.show {
    opacity: 1;
    transform: translate(-50%, -50%);
}
.model input {
    margin-top: 15px;
    width: 160px;
    height: 30px;
    font-size: 18px;
}
.model .lyt {
    margin-top: 10px;
    display: flex;
    justify-content: space-evenly;
}
.model .btn {
    background: #bababa;
    width: 40px;
    cursor: pointer;
    border-radius: 5px;
}
.model .btn.confirm {
    background: rgb(60, 238, 44);
}

main {
    margin-top: 50px;
    /* display: flex; */
}
h2 {
    color: rgb(0, 0, 0);
    font-size: 26px;
    margin-top: 30px;
}
main .icon.icon-del,
main .icon.icon-edit,
.panel .icon.icon-add,
.panel .icon.icon-rm{
    display: none;
}
body.setting main .icon-del,
body.setting main .icon-edit{
    display: inline;
    margin-left: 10px;
}
body.setting .panel .icon-add {
    display: block;
    width: 35px;
    height: 30px;
    margin: 10px 5px;
    /* z-index: 1; */
    padding: 2px;
    background: yellowgreen;
    border-radius: 5px;
}
body.setting .panel .icon-rm{
    display: inline;
    position: absolute;
    top: -15px;
    right: -15px;
    width: 30px;
    height: 30px;
}
main .panel {
    background: rgba(255, 255, 255, 0.5);
    box-shadow: 0 0 3px 0 white;
    /* backdrop-filter: blur(3px); */
    border-radius: 8px;
    display: flex;
    flex-wrap: wrap;
    padding: 5px 5px;
    margin-top: 10px;
    min-height: 60px;
}
.tag {
    position: relative;
    padding: 5px 8px;
    margin: 10px 10px;
    border-radius: 5px;
    /* text-decoration: none; */
    min-height: 30px;
}


/* 顺序排列的6种颜色 */
.tag:nth-child(6n+1) {
    background-color: rgb(253, 195, 35);
}
.tag:nth-child(6n+2) {
    background-color: rgb(59, 221, 30);
}
.tag:nth-child(6n+3) {
    background-color: rgb(38, 185, 243);
}
.tag:nth-child(6n+4) {
    background-color: rgb(247, 72, 174);
}
.tag:nth-child(6n+5) {
    background-color: rgb(252, 247, 0);
}
.tag:nth-child(6n+6) {
    background-color: rgb(123, 173, 240);
}

@media screen and (min-width:960px) {
    .search-ipt>input {
        width: 600px;
        line-height: 40px;
        border-radius: 7px;
        box-shadow: 0 0 8px 0 rgba(71, 69, 69, 0.6);
        border: none;
        outline: none;
        font-size: 24px;
        padding: 0 35px 0 15px;
        background-color: transparent;
    } 
    #setting .icon {
        margin: 20px;
        width: 50px;
        height: 50px;
        color: #fff;
    }
}
@media screen and (max-width:480px) {
    .search-ipt>input {
        width: 300px;
        /* line-height: 30px; */
        border-radius: 5px;
        box-shadow: 0 0 8px 0 rgba(71, 69, 69, 0.6);
        border: none;
        outline: none;
        font-size: 16px;
        padding: 0 30px 0 10px;
        background-color: transparent;
    } 
}